<nav class="navbar">
  <!-- <li><a href="#">Home</a></li> -->
  <a href="/"><img class="logo" src="images/logo1.jpg" /></a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Teams</a></li>

    <li><a href="/blog">Blog</a></li>

    <li><a href="/about">Services</a></li>
    <li><a href="#reveiws">Review</a></li>
    <% if(isAuthenticated){%>
    <li><a href="/login"><%=user.name%></a></li>
    <li>
      <div class="control1">
        <form action="/logout" method="post">
          <input type="submit" value="Logout" />
        </form>
      </div>
    </li>
    <% }else{ %>

    <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
  <ol>
    <li><a href="/">Hacktekers</a></li>
  </ol>
</nav>
