<nav class="navbar">
  <!-- <li><a href="#">Home</a></li> -->
  <a href="/"><img class="logo" src="img/images/logo1.jpg" /></a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">About</a></li>

    <li><a href="#">Reach Us</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
  <ol>
    <li><a href="/">Hacktekers</a></li>
  </ol>
</nav>
