<nav class="navbar">
    <!-- <li><a href="#">Home</a></li> -->
    <a href="/"><img class="logo" src="images/logo1.jpg" /></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>


        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">Services</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <ol>
        <li><a href="/">Hacktekers</a></li>
    </ol>
</nav>