
<%- include('partials/head') %>

</head>

<body>

    <div class="container">
   
        <%- include('partials/navbar') %> 
        <div class="center">
            <h1 style="color: red; margin-top: -70px;">This page can't be found!</h1>
        
        </div>
    </div>

</body>

</html>