
<%- include('partials/head') %>

</head>
<style>
    body{
       background-color: black;

    }
</style>
<body>

    <div class="container">
   
        <%- include('partials/navbar') %> 
        <div class="center">
<center>
    <h1 style="color: rgb(34, 221, 10); margin-top: 170px;">This page can't be found!</h1>

</center>        
        </div>
    </div>

</body>

</html>