<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <!-- <nav class = "navbar">
            <div class="container">
                <a href = "index.html" class="navbar-brand">HackTekers</a>
                
            </div>
        </nav> -->
        <%- include('partials/navbar') %> 
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    CYBERSECURITY BLOG
                </h1>
                <P>everything that you want to know about cybersecurity</P>
                <form>
                    <input type = "text" class = "search-input" placeholder="find your topic...">
                    <button type="submit" class = "search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>
    <section class = "design" id="design">
        <div class = "container">
            <div class = "title">
                <!-- <h2> Recent cybersecurity blogs</h2>
                <p>recent articles on cybersecurity</p>
            </div>
            <div class = "design-content">
                
                <div class="design-item">
                    <div class="design-img">
                        <img src = "img/http.jpg" alt="hi" width="200" height="300">
                       
                        
                    </div>
                    <div class="design title">
                    </div>
                </div>
                
                <div class="design-item">
                    <div class="design-img">
                        <img src = "img/unix.jpg" alt="" width="200" height="300">
                    </div>
                    <div class="design title">  
                    </div>
                </div>
                <!--end of item-->
                <!--start of item-->
                <!-- <div class="design-item">
                    <div class="design-img">
                        <img src = "img/linux.jpg" alt="" width="200" height="300">
                    </div>
                    <div class="design title">
                    </div>
                </div> -->
                <!--end of item-->
                <!--start of item-->
                <!-- <div class="design-item">
                    <div class="design-img">
                        <img src = "img/job.jpg" alt="" width="200" height="300">
                    </div>
                    <div class="design title">
                    </div>
                </div> -->
                <!--end of item-->
                <!--start of item-->
                <!-- <div class="design-item">
                    <div class="design-img">
                        <img src = "img/ceh.jpg" alt="" width="200" height="300">
                    </div>
                    <div class="design title">
                    </div>
                </div> -->
                <!--end of item-->
                <!--start of item-->
                <!-- <div class="design-item">
                    <div class="design-img">
                        <img src = "img/phishing.jpg" alt="" width="200" height="300" >
                    </div>
                    <div class="design title">
                    </div>
                </div> -->
                <!--end of item-->
            <!-- </div>
        </div> 
    </section> -->
    
    <section class = "blog" id= "blog" >
        <div class="container"> 
        <div class="title">
            <h2>Latest Blog</h2>
            <p>recent blogs about cybersecurity</p>
        </div>
        <div class="blog-content">
            <!--item-->
            <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/http.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>22 November, 2022</span>
                    <h2>HTTP Status Codes Cheat Sheet: A Quick Reference</h2>
                    <p>When you’re working with web applications, whether as a website administrator or a penetration tester, chances are you’ve had to</p>
                    <a href = "https://www.stationx.net/http-status-codes-cheat-sheet/">Read More</a>
                </div>
            </div>
            <!--end of item-->
             <!--item-->
             <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/unix.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>14 November, 2022</span>
                    <h2>Unix Commands Cheat Sheet: Commands You Need</h2>
                    <p> make full use of Unix operating systems such as macOS’s Darwin and Linux’s GNU, you need to learn how to operate Unix from the command</p>
                    <a href = "https://www.stationx.net/unix-commands-cheat-sheet/">Read More</a>
                </div>
            </div>
            <!--end of item-->
             <!--item-->
             <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/linux.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>3 October, 2022</span>
                    <h2>Linux File Permissions Cheat Sheet</h2>
                    <p>le permissions, i.e., controlling access to files and directories (folders), are indispensable. If you have written custom Bash</p>
                    <a href = "https://www.stationx.net/linux-file-permissions-cheat-sheet/">Read More</a>
                </div>
            </div>
            <!--end of item-->
             <!--item-->
             <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/ceh.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>9 August, 2022</span>
                    <h2>Certified Ethical Hacker (CEH) Exam Cheat Sheet</h2>
                    <p>To supplement the hacking and CEH courses on our Cyber Security Career Development Platform, here is our Certified Ethical Hacker</p>
                    <a href = "https://www.stationx.net/certified-ethical-hacker-ceh-exam-cheat-sheet/">Read More</a>
                </div>
            </div>
            <!--end of item-->
             <!--item-->
             <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/job.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>20 January, 2020</span>
                    <h2>Top 10 jobs you can hire a black hat hacker to do!</h2>
                    <p>If someone wants to bring down a website, alter their school attendance record or hijack an ex-employer’s Twitter account</p>
                    <a href = "https://www.stationx.net/hacker-cost/">Read More</a>
                </div>
            </div>
            <!--end of item-->
             <!--item-->
             <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/phishing.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>1 November, 2021</span>
                    <h2>Top 11 phishing keywords to avoid getting hacked</h2>
                    <p>In your message, try to reference a familiar business activity. Also, provide the target victim with a clear instruction, while weaving</p>
                    <a href = "https://www.stationx.net/top-phishing-keywords-revealed/">Read More</a>
                </div>
            </div>
            <!--end of item-->
            <!--item-->
            <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/http.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>6 November, 2022</span>
                    <h2>Metasploit Commands: How to Get Around in the MSFConsole</h2>
                    <p>The Metasploit Framework Console (MSFConsole) is a Command-Line Interface (CLI) and the primary way to interact with</p>
                    <a href = "https://www.stationx.net/metasploit-commands/">Read More</a>
                </div>
            </div>
            <!--end of item-->
            <!--item-->
            <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "img/job.jpg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>20 October, 2022</span>
                    <h2>Pentest+ vs CEH 2022: Which Certification Is Best for You?</h2>
                    <p>any students looking to break into cyber security find themselves overwhelmed with the number of available certifications.</p>
                    <a href = "https://www.stationx.net/comptia-pentest-vs-ceh/">Read More</a>
                </div>
            </div>
            <!--end of item-->
            <!--item-->
            <div class = "blog-item">
                <div class = "blog-img">
                    <img src = "/images/security.jpeg" alt = "" width="120" height="200">
                    <!-- <span><i class = "far fa-heart"></i></span> -->
                </div>
                <div class = "blog-text">
                    <span>14 october, 2022</span>
                    <h2>Tmux Cheat Sheet: Essential Commands And Quick References</h2>
                    <p>Running parallel processes on a graphical user interface (GUI) usually requires tabbed terminals. But what if you could only work</p>
                    <a href = "https://www.stationx.net/tmux-cheat-sheet/">Read More</a>
                </div>
            </div>
            <!--end of item-->
        </div>
        </div>
    </section>
    <footer>
        <div class = "social-links">
            <a href = "#"><i class = "fab fa-facebook"></i></a>
            <a href = "#"><i class = "fab fa-twitter"></i></a>
            <a href = "#"><i class = "fab fa-instagram"></i></a>
            <a href = "#"><i class = "fab fa-pinterest"></i></a>
        </div>
        <span>Cyber Security Blog Page</span>
    </footer>
    <%- include('partials/jse') %> 
</body>
</html>