<%- include('partials/head') %>
  </head>

  <body>
    <section class="header">
        <%- include('partials/navbar') %>
      <div class="text-box">
        <h1>HACKTEKERS</h1>
        <P
          >“Quantum Encryption is essential to protect our digital assets and
          infrastructure from attackers.”</P
        >
        <!-----<a href="" class="hero-btn">Continue</a>---->
      </div>
    </section>
    <!--------services we provide-------->
    <section class="course">
      <h1>services we provide</h1>
      <p>Following are some of the services provided by hacktekers</p>

      <div class="row">
        <div class="course-col">
          <h3>Training</h3>
          <p>
            We provide Training on various courses along with certifications.<br />Visit
            the site for complete details about corses.
          </p>
        </div>
        <div class="course-col">
          <h3>Seminar</h3>
          <p>
            our company offers for seminars on some of the severe problems in
            our society.
          </p>
        </div>
        <div class="course-col">
          <h3>Expert Talk</h3>
          <p>
            Each nd every company is required to do the same for their
            employeess in order to empower them.
          </p>
        </div>
      </div>
    </section>

    <!-----Testimonials-->
    <section class="testimonials">
      <h1>What our student says</h1>
      <p>
        Having a quick review over what the visitors would love to say about us.
      </p>

      <div class="row">
        <div class="testiminial-col">
          <img src="images/user1.png" />
          <div>
            <p>
              It is one of the best company in the field of cyber security.<br />Faculty
              is really helpfull and supportive.
            </p>
            <h3>Tokyo</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
        <div class="testiminial-col">
          <img src="images/user2.jpeg" />
          <div>
            <p>
              This company is just awsome at one end.<br />It's environment of
              working and faculty is just awsome.
            </p>
            <h3>Berlin</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
      </div>
    </section>

    <!------Contact Us------>
    <section class="cta">
      <h1>For any query contact us.</h1>
      <a href="/contact" class="hero-btn">Contact Us</a>
    </section>

    <!-------footer------->
   <%- include('partials/footer') %>
    <%- include('partials/jse') %> 
  </body>
</html>
