<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HacktekersTrialPrj</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" type="text/css" href="css/style1.css">
</head>

<body>

    <div class="container">
        <span class="bg"></span>
        <!-- <img class="back" src="images/Hackdetect.jpg"> -->

        <nav class="navbar">
            <img class="logo" src="img/images/logo1.jpg">





            <!-- <li><a href="#">Home</a></li> -->
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Reach Us</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <ol>
                <li><a href="#">Hacktekers</a></li>
            </ol>
        </nav>
        <div class="center">
            <h1>Welcome to SafeHack</h1>
            <h2>Cross Blackhat</h2>
            <div class="buttons">
                <!-- <button class="btn1">Get Started</button> -->
                <button class="btn">Get Started</button>

            </div>

        </div>
    </div>
    <!-- <div class="container1">
        <P class="tit">Our Reviews</P>
        <div class="view-box">
            <div id="testimonials">
                <div class="user">
                    <img src="images/logo.jpg" alt="">
                    <p>dhgvubjiuiuvyuvytyctcgfyyg hhvycrrcfsgdewwe vdggggccvghev jbdgu ewdyufgei jeihec gcuhiucho jhfcoiewo qiuwtwedhwne bcsigvufe

                    </p>
                    <h3>suuchi</h3>
                </div>

                <div class="user space">
                    <img src="images/log1.jpg" alt="">
                    <p>dhgvubjiuiuvyuvytyctcgfyyg</p>
                    <h3>Shreya</h3>
                </div>

                <div class="user">
                    <img src="images/logo.jpg" alt="">
                    <p>dhgvubjiuiuvyuvytyctcgfyyg</p>
                    <h3>pankhuri</h3>
                </div>
            </div>
        </div>

    </div> -->


    <!-- Review section -->

    <div class="container1">
        <h1>Organisation Reviews!!!
        </h1>
        <div class="board">
            <h2 class="text-light">What Exp. People Say About us....</h2>
            <hr>
            <hr>

            <p class="text-light"><br>If you are having any doubt to get in touch with us<br> then go through these auspecious reviews </p>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="flex">
                            <div class="comments">
                                We must say! This an excellent site for a fresher to learn and grow as a professional in CyberSecurity. The hikes are good and the company is growing at an exponential pace. You can work on interesting projects.
                            </div>
                            <div class="profile">
                                <img src="img/images/logo.jpg" alt="">
                                <a href="#">HacktekersPro</a>
                                <span>Cyber-Organisation</span>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="flex">
                            <div class="comments">
                                An effective platform for large organisation, to help manage mallicious attacks, provides effective realistic points for prevention

                            </div>
                            <div class="profile">
                                <img src="img/images/protect.jpg" alt="">
                                <a href="#">ShieldTech</a>
                                <span>CyberCafe</span>
                            </div>
                        </div>
                    </div>



                    <div class="swiper-slide">
                        <div class="flex">
                            <div class="comments">
                                We must say thanks!!! that this will become my base for starting our platform and in current we are in touch with too cyber influencer
                            </div>
                            <div class="profile">
                                <img src="img/images/logo1.jpg" alt="">
                                <a href="#">ProtectionCamp</a>
                                <span>Company</span>
                            </div>
                        </div>
                    </div>

                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>