<!DOCTYPE html>>
<html>

<head>
    <meta name="viewport" content="with=device-width , initial-scale=1.0">
    <title>hacktekers</title>n
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src="images/logo.jpg" width="105" height="98"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us </a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>HACKTEKERS</h1>
            <P>“Quantum Encryption is essential to protect our digital assets and infrastructure from attackers.”</P>
            <!-----<a href="" class="hero-btn">Continue</a>---->
        </div>
    </section>
    <!--------services we provide-------->
    <section class="course">
        <h1>services we provide</h1>
        <p>Following are some of the services provided by hacktekers</p>


        <div class="row">
            <div class="course-col">
                <h3>Training</h3>
                <p>We provide Training on various courses along with certifications.<br>Visit the site for complete details about corses.</p>
            </div>
            <div class="course-col">
                <h3>Seminar</h3>
                <p>our company offers for seminars on some of the severe problems in our society.</p>
            </div>
            <div class="course-col">
                <h3>Expert Talk</h3>
                <p>Each nd every company is required to do the same for their employeess in order to empower them.</p>
            </div>
        </div>
    </section>

    <!-----Testimonials-->
    <section class="testimonials">
        <h1>What our student says</h1>
        <p>Having a quick review over what the visitors would love to say about us.</p>

        <div class="row">
            <div class="testiminial-col">
                <img src="images/user1.png">
                <div>
                    <p>It is one of the best company in the field of cyber security.<br>Faculty is really helpfull and supportive.</p>
                    <h3>Tokyo</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>

                </div>
            </div>
            <div class="testiminial-col">
                <img src="images/user2.jpeg">
                <div>
                    <p>This company is just awsome at one end.<br>It's environment of working and faculty is just awsome.</p>
                    <h3>Berlin</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>

    </section>

    <!------Contact Us------>
    <section class="cta">
        <h1>For any query contact us.</h1>
        <a href="" class="hero-btn">Contact Us</a>

    </section>

    <!-------footer------->
    <section class="footer">
        <h2>About Us</h2>
        <p>
            Knowing about Hacktekers.
            <br>

        </p>
        <p></p>
        <div class="icons">
            <a href="#"><i class = "fab fa-facebook"></i></a>
            <a href="#"><i class = "fab fa-twitter"></i></a>
            <a href="#"><i class = "fab fa-instagram"></i></a>
            <a href="#"><i class = "fab fa-pinterest"></i></a>
            <p>
                <br>

            </p>
        </div>
        <a href="aboutus.html" class="hero-btn">Continue</a>
        <p>
            <br>
        </p>
        <p>made with <i class="fa fa-heart"></i> by team </p>
    </section>

    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>

</html>